.container > div > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.background {
    background-color: #424242;
    /* clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%); */
    clip-path: polygon(20% 0, 70% 0, 50% 100%, 0% 100%);
    /* transform: translate3d(-200px, 0px, 0px); */
}

.shape {
    clip-path: polygon(70% 0, 100% 0, 80% 100%, 50% 100%);
    /* clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%); */
}

.background,
.shape {
    position: absolute;
    width: 300%;
    height: 100%;
    cursor: pointer;
}

.text {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "Arial", sans-serif;
    font-size: 30px;
    color: #626262;
    font-weight: 700;
}

.red {
    background: blanchedalmond;
}

.purple {
    background: bisque;
}

.pink {
    background: burlywood;
}
